.subs-container{
    width: 50%;
    min-width: 400px;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    
}
.subs-form{
    margin-top: 40px;
}
.input-email{
    margin-top: 20px;
}
.submit-button {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
